body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: rgb(216, 16, 49);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

.box {
  display: flex;
  width: 90%;
  max-width: 400px; /* Adjust as needed */
  border: 2px solid #333;
  overflow: hidden;
}

.image {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  margin-bottom: 10px;
}

.btn {
  background-color: #ff6347; /* Adjust color as needed */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
